@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Work+Sans:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    //text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

.tooltip {
    position: relative;
    text-decoration: underline;
    //display: inline-block;

    .tooltiptext {
        visibility: hidden;
        text-indent: 0;
        width: 260px;
        background-color: rgb(195,146,72);
        color: #fff;
        padding: 1em;
        border-radius: 6px;
        box-shadow: $box-shadow;
        position: absolute;
        top: 20px;
        left: -100px;
        z-index: 1;
        transform: translateY(-100px);
        transition: transform 100ms ease-in-out;

        img{
            display: block;
            max-width: 100%;
            margin-bottom: 0.5em;
        }

        @media (max-width:775px){
            //color:red;
            width: 160px;
            font-size: 0.8rem;
            left: -70px;
        }
        
    }

    &:hover .tooltiptext {
    visibility: visible;
    transform: translateY(0);
  }

}

