#main{
    background: linear-gradient(135deg, rgb(121,179,129),rgb(73,126,82) );
    margin: 2em 0.5em;
    border-radius: 0.5em;
    letter-spacing: 1px;

    header{
        color: $white-med;
        padding: 2em;
        text-align: center;
        text-shadow: $text-shadow;

        #title{
            font-size: 3.5rem;
            text-transform: capitalize;

            @media (max-width:500px){
               font-size: 2.6em;
            }
        }

        p{
            display: inline-block;
            font-size: 0.8rem;
            font-family: 'Lato', sans-serif;
            position: relative;
            bottom: 8px;
        }
    }

    main{
        padding: 3em;

        @media (max-width:700px){
            padding: 1em;
        }

        #img-div{
            position: relative;
            color: $white-dim;
            padding-bottom: 0.6em;
            border-radius: 50%;
            width: 60%;
            margin: 0 auto;
            overflow: hidden;
            box-shadow: 0px 0px 100px rgb(116,174,124);

            &:hover{
                #image{
                    transform: scale(1.2);
                }

                #img-caption{
                    transform: scale(2) translateY(-2rem);
                    font-weight: 500;
                }
            }
    
            @media (max-width:850px){
                width: 70%;
            }

            #image{
                display: block;
                max-width: 100%;
                object-fit: cover;
                opacity: 0.8;
                transition: all 500ms ease-in-out;
            }

            #img-caption{
                font-family: 'Work Sans', sans-serif;
                font-size: 0.8rem;
                text-align: center;
                margin-top: 0.5em;
                text-transform: capitalize;
                text-shadow: $text-shadow-light;
                transition: all 500ms ease-in-out;


                @media (max-width:1200px){
                    font-size: 0.75rem;
                    margin-top: 0.2em;
                }

                @media (max-width:850px){
                    font-size: 0.67rem;
                }

                @media (max-width:600px){
                    font-size: 0.60rem;
                }
            }
        }

        #tribute-info{
            width: 70%;
            margin: 4em auto;
            font-size: 0.95rem;
            color: $white;

            @media (max-width:850px){
                width: 80%;
            }
            
            p{
                text-indent: 45px;
                margin:1em;
                text-shadow: $text-shadow-light;

                &.quote{
                    width:50%;
                    margin: 4em auto;
                    text-shadow: 0px 0px 100px white;

                    @media (max-width:1200px){
                        width: 60%;
                    }

                    @media (max-width:600px){
                        width: 70%;
                    }
                
                }
            }
        }
    }

    footer{
        text-align: center;

        p{
            color: $white;
            padding: 0 1em 2em;
            font-family: "Lato", sans-serif;
            font-weight: 700;
            letter-spacing: 2px;

            @media (max-width:850px){
                font-size: 0.9rem;
            }

            .tooltiptext{
                display: inline-block;
                //background: red;
                background: url("http://emmafansite.com");
                top: -420px;
                left: -600px;
            }

            a{
                color: $white;
                transition: opacity 200ms ease-in-out;
            }

        }

        a:hover{
            opacity: 0.8;
        }
    }
}

